[submodule "modules/gaspar"]
	path = modules/gaspar
	url = https://github.com/gdindzida/gaspar.git
[submodule "modules/libopencm3"]
	path = modules/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "modules/baltazar"]
	path = modules/baltazar
	url = https://github.com/gdindzida/baltazar.git
